<launch>
    <!-- EKF Node -->
    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization_ekf_node" clear_params="true">
        <rosparam command="load" file="$(find pose_fusion)/params/pose_inputs.yaml"/>
    </node> -->

    <!-- Fake Sensors -->
    <node pkg="pose_fusion" type="fake_aruco.py" name="fake_aruco"/>
    <node pkg="pose_fusion" type="fake_imu.py" name="fake_imu"/>

    <!-- Fake TF nodes to link frames -->
    <node pkg="tf" name="base_to_camera" type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link camera_link 1">
    </node>
    <node pkg="tf" name="link_to_optical" type="static_transform_publisher"
        args="0 0 0 0 0 0 camera_link camera_color_optical_frame 1">
    </node>
    <node pkg="tf" name="link_to_imu" type="static_transform_publisher"
        args="0 0 0 0 0 0 camera_link imu_frame 1">
    </node>
</launch>